* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.profile-info-container {
    margin: 2rem 0;
    background-color: #ADD8E6;
    color: #fff;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px; /* Rounded corners */
}

.name-container {
    width: fit-content;
}

.position-container {
    margin: 1rem 0;
    /* border: 2px solid black; */
    width: 14%;
}

.objective-container {
    width: 50%;
    margin-top: 0.75rem;
}

.top-container {
    display: flex;
    justify-content: space-between;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Makes the image circular */
}
