<div>
    <hr>
    <div class="references-container">
    <h2>References</h2>
  
    <ul>
      <li>
        <strong>{{ reference1Name }}</strong><br>
        <em>{{ reference1Title }}</em><br>
        Contact: <a href="mailto:{{ reference1Contact }}">{{ reference1Contact }}</a>
      </li>
      <li>
        <strong>{{ reference2Name }}</strong><br>
        <em>{{ reference2Title }}</em><br>
        Contact: <a href="mailto:{{ reference2Contact }}">{{ reference2Contact }}</a>
      </li>
    </ul>
    </div>
  </div>
  