<hr>
<div class="title-container">
    <h2>Work Experience</h2>
</div>

<div class="work-experiences-container">

    <div class="experience-1">
        <h3>{{ jobPosition1 }}</h3>
        <ul class="work-experiences">
            <li>{{ company1 }}</li>
            <li>{{ date1 }}</li>
            <li>{{ explanation1 }}</li>
        </ul>
    </div>
   
    <div class="experience-2">
        <h3>{{ jobPosition2 }}</h3>
        <ul class="work-experiences">
        <li>{{ date2 }}</li>
        <li>{{ explanation2 }}</li>
        </ul>
    </div>
    
</div>